main {
  display: flex;
  width: 100%;
  justify-content: center;
}

#_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 31%;
  background: url(./images/dog.jpg) center center no-repeat;
  background-size: cover;
}

#_heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 50px;
  color: black;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
}

#_form {
  background-color: beige;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 31%;
}

select:invalid {
  color: gray;
}
option {
  color: black;
}

.formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.formgroup.textfield {
  display: block; 
  width: 100%;
}

.formgroup.textfield > label {
  display: block;
  margin-bottom: 10px;
}
.formgroup.textfield > input {
  display: block;
  padding: 10px;
  width: 100%;
}

.formgroup.selectfield > label {
  display: block;
  margin-bottom: 10px;
}
.formgroup.selectfield > select {
  padding: 10px;
  width: 100%;
}

          

.form-flex{
  display: flex;
}

